.hidden {
  display: none;
}

.dividers {
  border: none;
  border-bottom: 1px solid #86b2e8;
  width: 90%;
  margin: 0 auto;
}

.custom-product {
  margin-left: 1em;
}

.custom-product__initializer {
  margin-bottom: 0.6em;
  cursor: pointer;
  font-size: 0.7em;
  background-color: #fff;
  border: none;
  color: #5582b8;
}

.custom-product__form {
  margin-bottom: 1em;
}

.custom-product__form__name {
  width: 15em;
}

.custom-product__form__list {
  width: 15em;
}

.custom-product__form__list__input {
  border-right: 1px solid #86b2e8;
  border-left: 1px solid #86b2e8;
  border-top: 1px solid #86b2e8;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 3fr 1fr;
      grid-template-columns: 3fr 1fr;
}

.custom-product__form__list__input > * {
  -webkit-appearance: textfield;
     -moz-appearance: textfield;
          appearance: textfield;
  padding: 0 0.3em;
}

.custom-product__form__list__input:last-child {
  border-bottom: 1px solid #86b2e8;
}

.custom-product__form__list__input:first-child {
  border-top: 1px solid #86b2e8;
}

.custom-product__form__list__input > label {
  border-right: 1px solid #86b2e8;
}

.custom-product__form__list__input > input {
  width: 100%;
  border: 0;
  margin-left: auto;
  text-align: right;
}

.custom-product__form__list-item {
  color: #5582b8;
  border-top: 1px solid #86b2e8;
  border-right: 1px solid #86b2e8;
  border-left: 1px solid #86b2e8;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 3fr 1fr;
      grid-template-columns: 3fr 1fr;
}

.custom-product__form__list-item > * {
  padding: 0 0.3em;
}

.custom-product__form__list-item:last-child {
  border-bottom: 1px solid #86b2e8;
}

.custom-product__form__list-item__key {
  border-right: 1px solid #86b2e8;
}

.custom-product__form__list-item__value {
  margin-left: auto;
}

.custom-product__form > * {
  color: #5582b8;
}

.mealPlan__title {
  font-size: 1.5em;
  color: #5582b8;
  text-align: center;
  padding: 0.4em 0;
}

.mealPlan__divider--upper {
  width: 100%;
}

.mealPlan__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 3.5em;
}

.mealPlan__header__title {
  margin: auto 0;
  margin-left: 1em;
  color: #5582b8;
  font-size: 1.2em;
}

.mealPlan__header__title__toggle {
  border: none;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  width: 5em;
  cursor: pointer;
}

.mealPlan__header__title__toggle__inner {
  margin: auto auto;
  border: 0.2em solid #5582b8;
  border-top: transparent;
  border-left: transparent;
  width: 1em;
  height: 1em;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.mealPlan__header__title__toggle__inner__closed {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.mealPlan__header__divider--lower {
  width: 100%;
}

.mealPlan__meals {
  margin-bottom: 3em;
}

.mealPlan__meals__meal {
  background-color: #f6f6f6;
  margin: 1em 1em;
  padding: 1em 1em;
  border-radius: 0.3em;
}

.mealPlan__meals__meal__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0.9em;
  color: #5c7aae;
}

.mealPlan__meals__meal__title__toggle {
  border: none;
  background-color: #f6f6f6;
  padding-top: 0.25em;
  margin-left: auto;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 2em;
}

.mealPlan__meals__meal__title__toggle__inner {
  margin-left: auto;
  border: 0.2em solid #5c7aae;
  border-top: transparent;
  border-left: transparent;
  width: 1em;
  height: 1em;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.mealPlan__meals__meal__title__toggle__inner__closed {
  margin-top: -0.25em;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.mealPlan__meals__meal__products-and-nutrition {
  margin-bottom: 2em;
}

.mealPlan__meals__meal__products-and-nutrition__product {
  color: #5c7aae;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0.6em;
}

.mealPlan__meals__meal__products-and-nutrition__product:first-of-type {
  margin-top: 1em;
}

.mealPlan__meals__meal__products-and-nutrition__product__title {
  white-space: nowrap;
  overflow: hidden;
  margin-right: 0.3em;
}

.mealPlan__meals__meal__products-and-nutrition__product__title__brand {
  font-size: 0.7em;
}

.mealPlan__meals__meal__products-and-nutrition__product__serving {
  margin-left: auto;
}

.mealPlan__meals__meal__products-and-nutrition__product__remove {
  margin-top: 0.17em;
  margin-left: 0.3em;
  color: #86b2e8;
  color: #aa5050;
  background-color: #f6f6f6;
  border: none;
  height: 0.8em;
  font-size: 1.2em;
  line-height: 0.7em;
  cursor: pointer;
}

.mealPlan__total {
  margin: 2em;
}

.mealPlan__total__title {
  color: #5c7aae;
  text-align: center;
  margin-bottom: 0.7em;
}

.wide {
  width: 100%;
}
/*# sourceMappingURL=App.css.map */