* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.hidden {
  display: none;
}

html {
  height: 100%;
  font-family: 'Montserrat', sans-serif;
}

body {
  height: 100%;
  -ms-touch-action: none;
      touch-action: none;
}

#root {
  height: 100%;
}

.header {
  height: 6em;
  background-color: rgba(134, 178, 232, 0.2);
}

main {
  margin-bottom: 10em;
}

.dividers {
  border: none;
  border-bottom: 1px solid #86b2e8;
  width: 90%;
  margin: 0 auto;
}

.page-title {
  text-align: center;
  font-size: 1.5em;
  padding: 0.4em 0;
  padding-top: 0.5em;
  color: #5582b8;
}

.search-section__search-bar {
  display: -ms-grid;
  display: grid;
}

.search-section__search-bar > input {
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  width: 100%;
  height: 3em;
  padding-left: 0.5em;
  padding-top: 0.3em;
  border: none;
  border-top: 1px solid #86b2e8;
  border-bottom: 1px solid #86b2e8;
  color: #86b2e8;
  outline: none;
}

.search-section__search-bar > img {
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  margin: auto 0;
  margin-left: auto;
  margin-right: 1em;
  opacity: 0.2;
  width: 1.3em;
  height: 1.3em;
}

.search-section__search-results {
  position: absolute;
  font-size: 1.2em;
  line-height: 1.5em;
  color: #fff;
  width: 100%;
}

.search-section__search-results__list-item {
  background-color: #86b2e8;
  background-color: #fff;
  color: #5582b8;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid #86b2e8;
  height: 1.9em;
}

.search-section__search-results__list-item:focus {
  background-color: #9abde2;
  outline: none;
}

.search-section__search-results__list-item__logo {
  background-color: #fff;
  border-right: 1px solid #86b2e8;
  height: 100%;
  width: 2.5em;
}

.search-section__search-results__list-item__name {
  font-size: 0.7em;
  font-weight: 600;
  margin: auto 0;
  margin-left: 0.3em;
  max-width: 17em;
  padding-right: 0.5em;
  white-space: nowrap;
  overflow: hidden;
}

.search-section__search-results__list-item__name__highlighted {
  background-color: greenyellow;
  background-color: #e8ebef;
  background-color: #dbe1e8;
  border-radius: 0.2em 0 0 0.2em;
  padding: 0.25em 0;
  padding-left: 0.15em;
  padding-right: 0;
}

.search-section__search-results__list-item__name__unhighlighted-product {
  padding-left: 0.15em;
}

.search-section__search-results__list-item__brand {
  color: rgba(85, 130, 184, 0.6);
  font-weight: 600;
  font-size: 0.6em;
  margin: auto 0;
  white-space: nowrap;
  padding-left: 0.5em;
  margin-right: 0.5em;
  margin-left: auto;
  width: 30%;
  overflow: hidden;
}

.custom-product {
  margin-left: 1em;
}

.custom-product__initializer {
  margin-bottom: 0.6em;
  cursor: pointer;
  font-size: 0.7em;
  background-color: #fff;
  border: none;
  color: #5582b8;
}

.custom-product__form {
  margin-bottom: 1em;
}

.custom-product__form__name-and-serving {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 3fr 1fr;
      grid-template-columns: 3fr 1fr;
  width: 15em;
}

.custom-product__form__name-and-serving > * {
  width: 100%;
  font-size: 1.3em;
}

.custom-product__form__name-and-serving__name {
  padding-left: 0.15em;
}

.custom-product__form__name-and-serving__serving {
  text-align: right;
  -webkit-appearance: textfield;
     -moz-appearance: textfield;
          appearance: textfield;
}

.custom-product__form__list {
  width: 15em;
}

.custom-product__form__list__input {
  border-right: 1px solid #86b2e8;
  border-left: 1px solid #86b2e8;
  border-top: 1px solid #86b2e8;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 3fr 1fr;
      grid-template-columns: 3fr 1fr;
}

.custom-product__form__list__input > * {
  -webkit-appearance: textfield;
     -moz-appearance: textfield;
          appearance: textfield;
  padding: 0 0.3em;
}

.custom-product__form__list__input:last-child {
  border-bottom: 1px solid #86b2e8;
}

.custom-product__form__list__input > label {
  border-right: 1px solid #86b2e8;
}

.custom-product__form__list__input > input {
  width: 100%;
  border: 0;
  margin-left: auto;
  text-align: right;
}

.custom-product__form__list-item {
  color: #5582b8;
  border-top: 1px solid #86b2e8;
  border-right: 1px solid #86b2e8;
  border-left: 1px solid #86b2e8;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 3fr 1fr;
      grid-template-columns: 3fr 1fr;
}

.custom-product__form__list-item > * {
  padding: 0 0.3em;
}

.custom-product__form__list-item:last-child {
  border-bottom: 1px solid #86b2e8;
}

.custom-product__form__list-item__key {
  border-right: 1px solid #86b2e8;
}

.custom-product__form__list-item__value {
  margin-left: auto;
}

.custom-product__form > * {
  color: #5582b8;
}

.selected-product {
  margin: 0 1em;
  margin-top: 2em;
}

.selected-product__divider--upper {
  margin-bottom: 1.6em;
}

.selected-product__title {
  margin-left: 0.3em;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 3.5em 1fr;
      grid-template-columns: 3.5em 1fr;
  -ms-grid-rows: 2fr 1fr;
      grid-template-rows: 2fr 1fr;
}

.selected-product__title__logo {
  width: 3.5em;
  height: 3em;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
}

.selected-product__title__name {
  margin-left: 0.8em;
  color: #5582b8;
  font-size: 1.2em;
}

.selected-product__title__brand {
  color: rgba(85, 130, 184, 0.6);
  margin-left: 1.65em;
  margin-top: -0.5em;
  font-size: 0.8em;
}

.selected-product__nutrition-list {
  color: #5582b8;
  width: 100%;
  border-collapse: collapse;
  margin-top: 1em;
}

.selected-product__nutrition-list > thead {
  font-size: 0.7em;
  color: #5c7aae;
  font-weight: bold;
}

.selected-product__nutrition-list > thead > tr :nth-child(1) {
  text-align: left;
}

.selected-product__nutrition-list > thead > tr :nth-child(2) {
  text-align: right;
}

.selected-product__nutrition-list > tbody > tr > td {
  padding: 0.2em 0.3em;
}

.selected-product__nutrition-list > tbody > tr > td:first-child {
  border: 1px solid #dadada;
}

.selected-product__nutrition-list > tbody > tr > td:nth-child(2) {
  text-align: right;
  border: 1px solid #dadada;
}

.selected-product__add-to-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #5582b8;
  margin-top: 1em;
  height: 100%;
  gap: 0.5em;
}

.selected-product__add-to-list > hr {
  border: 1px solid #e2f2fc;
  border: 1px solid #dadada;
  border: 1px solid #f6f6f6;
}

.selected-product__add-to-list__options {
  width: 10em;
}

.selected-product__add-to-list__options__option {
  border: none;
  background-color: #fff;
  color: #5582b8;
  color: #83a2d5;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  height: 2em;
}

.selected-product__add-to-list__options__option > input,
.selected-product__add-to-list__options__option > label {
  margin: auto 0;
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-column: 1;
  grid-column: 1;
  width: 100%;
  border-radius: 0.3em;
}

.selected-product__add-to-list__options__option > input {
  opacity: 0;
  cursor: pointer;
}

.selected-product__add-to-list__options__option > input:focus-visible {
  opacity: 100;
  outline: 4px solid #4b4bff;
}

.selected-product__add-to-list__options__option > label {
  padding: 0.25em 0.4em;
}

.selected-product__add-to-list__options__increment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 2em;
  gap: 0.2em;
}

.selected-product__add-to-list__options__increment > button {
  font-size: 1.3em;
  border: 0;
  color: green;
  border-radius: 0.3em;
  background-color: #fff;
  width: 100%;
  height: 80%;
  margin: auto 0;
}

.selected-product__add-to-list__options__increment > button:nth-child(1) {
  color: red;
}

.selected-product__add-to-list__serving__input {
  border-radius: 0.3em;
  -webkit-appearance: textfield;
     -moz-appearance: textfield;
          appearance: textfield;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  width: 100%;
  padding-top: 0.1em;
  text-align: center;
  border: 1px solid #86b2e8;
  outline: none;
  font-size: 1.1em;
  color: #5582b8;
  height: 2em;
  border-right: 2px solid #86b2e8;
  border-bottom: 2px solid #86b2e8;
}

.selected-product__add-to-list__serving__input:focus::-webkit-input-placeholder {
  color: transparent;
}

.selected-product__add-to-list__serving__input:focus:-ms-input-placeholder {
  color: transparent;
}

.selected-product__add-to-list__serving__input:focus::-ms-input-placeholder {
  color: transparent;
}

.selected-product__add-to-list__serving__input:focus::placeholder {
  color: transparent;
}

.selected-product__add-to-list__add {
  border-radius: 0.3em;
  margin-top: 0.3em;
  height: 2em;
  font-size: 1.1em;
  width: 100%;
  color: #5582b8;
  background-color: #fff;
  border: 1px solid #86b2e8;
  border-right: 2px solid #86b2e8;
  border-bottom: 2px solid #86b2e8;
  cursor: pointer;
  white-space: nowrap;
}

.selected-product__add-to-list__error, .selected-product__add-to-list__success {
  font-size: 0.7em;
  width: 100%;
  margin-top: 0.4em;
}

.selected-product__add-to-list__error {
  color: red;
}

.selected-product__add-to-list__success {
  color: #34b634;
}

.mealPlan__title {
  font-size: 1.5em;
  color: #5582b8;
  text-align: center;
  padding: 0.4em 0;
  margin-top: 1.5em;
}

.mealPlan__divider--upper {
  width: 100%;
}

.mealPlan__day {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 3.5em;
}

.mealPlan__day__title {
  margin: auto 0;
  margin-left: 1em;
  color: #5582b8;
  font-size: 1.2em;
}

.mealPlan__day__title__toggle {
  border: none;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  width: 5em;
  cursor: pointer;
}

.mealPlan__day__title__toggle__inner {
  margin: auto auto;
  border: 0.2em solid #5582b8;
  border-top: transparent;
  border-left: transparent;
  width: 1em;
  height: 1em;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.mealPlan__day__title__toggle__inner__make-line {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.mealPlan__day__divider--lower {
  width: 100%;
}

.mealPlan__meals {
  margin-bottom: 3em;
}

.mealPlan__meals__meal {
  background-color: #f6f6f6;
  margin: 1em 1em;
  padding: 1em 1em;
  border-radius: 0.3em;
}

.mealPlan__meals__meal__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0.9em;
  color: #5c7aae;
}

.mealPlan__meals__meal__title__toggle {
  border: none;
  background-color: #f6f6f6;
  padding-top: 0.25em;
  margin-left: auto;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 2em;
}

.mealPlan__meals__meal__title__toggle__inner {
  margin-left: auto;
  border: 0.2em solid #5c7aae;
  border-top: transparent;
  border-left: transparent;
  width: 1em;
  height: 1em;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.mealPlan__meals__meal__title__toggle__inner__make-line {
  margin-top: -0.25em;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.mealPlan__meals__meal__products-and-nutrition {
  margin-bottom: 2em;
}

.mealPlan__meals__meal__products-and-nutrition__product {
  color: #5c7aae;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0.6em;
}

.mealPlan__meals__meal__products-and-nutrition__product:first-of-type {
  margin-top: 1em;
}

.mealPlan__meals__meal__products-and-nutrition__product__title {
  white-space: nowrap;
  overflow: hidden;
  margin-right: 0.3em;
}

.mealPlan__meals__meal__products-and-nutrition__product__title__brand {
  font-size: 0.7em;
}

.mealPlan__meals__meal__products-and-nutrition__product__serving {
  margin-left: auto;
}

.mealPlan__meals__meal__products-and-nutrition__product__remove {
  margin-top: 0.17em;
  margin-left: 0.3em;
  color: #86b2e8;
  color: #aa5050;
  background-color: #f6f6f6;
  border: none;
  height: 0.8em;
  font-size: 1.2em;
  line-height: 0.7em;
  cursor: pointer;
}

.mealPlan__meals__meal__products-and-nutrition__nutrition-list {
  color: #5582b8;
  width: 100%;
  border-collapse: collapse;
}

.mealPlan__meals__meal__products-and-nutrition__nutrition-list > thead {
  font-size: 0.7em;
  color: #5c7aae;
  font-weight: bold;
}

.mealPlan__meals__meal__products-and-nutrition__nutrition-list > thead > tr :nth-child(1) {
  text-align: left;
}

.mealPlan__meals__meal__products-and-nutrition__nutrition-list > thead > tr :nth-child(2) {
  text-align: right;
}

.mealPlan__meals__meal__products-and-nutrition__nutrition-list > tbody > tr > td {
  padding: 0.2em 0.3em;
}

.mealPlan__meals__meal__products-and-nutrition__nutrition-list > tbody > tr > td:first-child {
  border: 1px solid #dadada;
}

.mealPlan__meals__meal__products-and-nutrition__nutrition-list > tbody > tr > td:nth-child(2) {
  text-align: right;
  border: 1px solid #dadada;
}

.mealPlan__total {
  margin: 2em;
}

.mealPlan__total__title {
  color: #5c7aae;
  text-align: center;
  margin-bottom: 0.7em;
}

.mealPlan__total__nutrition-list {
  color: #5582b8;
  width: 100%;
  border-collapse: collapse;
}

.mealPlan__total__nutrition-list > thead {
  font-size: 0.7em;
  color: #5c7aae;
  font-weight: bold;
}

.mealPlan__total__nutrition-list > thead > tr :nth-child(1) {
  text-align: left;
}

.mealPlan__total__nutrition-list > thead > tr :nth-child(2) {
  text-align: right;
}

.mealPlan__total__nutrition-list > tbody > tr > td {
  padding: 0.2em 0.3em;
}

.mealPlan__total__nutrition-list > tbody > tr > td:first-child {
  border: 1px solid #dadada;
}

.mealPlan__total__nutrition-list > tbody > tr > td:nth-child(2) {
  text-align: right;
  border: 1px solid #dadada;
}

.green {
  color: #34bc2d;
}

.red {
  color: red;
}

.wide {
  width: 100%;
}

.selected {
  background-color: #e2f2fc;
  background-color: #90d5ff;
  color: #f5f9ff;
  border: 1px solid #97b5e6;
}

.disabled > * {
  background-color: #f2f2f2;
  color: #d1d1d1;
}

.disabled > input {
  pointer-events: none;
}
/*# sourceMappingURL=App.css.map */