* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hidden {
  display: none;
}

html {
  height: 100%;
  font-family: 'Montserrat', sans-serif;
}

body {
  height: 100%;
  // REMOVE AFTER DEV
  touch-action: none;
}

// Page color 1
$page-color: rgb(134, 178, 232);
$page-color-lighter: rgb(154, 189, 226);
// $page-color-text: rgb(45, 97, 160);
$page-color-text: rgb(85, 130, 184);
$title-color: #d9bb7e;
$title-color-lighter: #e7c376;

$page-color-opacity2: rgba($page-color, 0.2);

$data-ink: #dadada;
// $data-ink: rgb(226, 242, 252);
// $data-ink-text: #9b9b9b;
// $data-ink-text: rgb(143, 187, 215);
$data-ink-text: rgb(92, 122, 174);

// Meal colors
$meal-background: rgb(246, 249, 255);
$meal-background: rgb(232, 232, 232);
$meal-background: #f6f6f6;
$meal-color: rgb(92, 122, 174);

@mixin nutrition-list {
  color: $page-color-text;
  width: 100%;
  border-collapse: collapse;

  & > thead {
    font-size: 0.7em;
    color: $data-ink-text;
    font-weight: bold;

    & > tr :nth-child(1) {
      text-align: left;
    }

    & > tr :nth-child(2) {
      text-align: right;
    }
  }

  & > tbody {
    & > tr {
      & > td {
        padding: 0.2em 0.3em;
        &:first-child {
          border: 1px solid $data-ink;
        }

        &:nth-child(2) {
          text-align: right;
          border: 1px solid $data-ink;
        }
      }
    }
  }
}

#root {
  height: 100%;
}

.header {
  height: 6em;
  background-color: $page-color-opacity2;
}

main {
  margin-bottom: 10em;
}

.dividers {
  border: none;
  border-bottom: 1px solid $page-color;
  width: 90%;
  margin: 0 auto;
}

// Title
.page-title {
  text-align: center;
  font-size: 1.5em;
  // border-top: 1px solid $page-color;
  padding: 0.4em 0;
  padding-top: 0.5em;
  color: $page-color-text;
  // color: #e2d6bc;
}

.search-section {
  &__search-bar {
    display: grid;

    & > input {
      grid-row: 1;
      grid-column: 1/3;
      width: 100%;
      height: 3em;
      padding-left: 0.5em;
      padding-top: 0.3em;
      border: none;
      border-top: 1px solid $page-color;
      border-bottom: 1px solid $page-color;
      color: $page-color;
      outline: none;
    }

    & > img {
      grid-row: 1;
      grid-column: 1/3;
      margin: auto 0;
      margin-left: auto;
      margin-right: 1em;
      opacity: 0.2;
      width: 1.3em;
      height: 1.3em;
    }
  }

  // - Drop-down
  &__search-results {
    position: absolute;
    // display: grid;
    font-size: 1.2em;
    line-height: 1.5em;
    color: #fff;
    width: 100%;

    &__list-item {
      background-color: $page-color;
      background-color: #fff;
      color: $page-color-text;
      cursor: pointer;
      display: flex;
      border-bottom: 1px solid $page-color;
      height: 1.9em;

      &:focus {
        background-color: $page-color-lighter;
        outline: none;
      }

      &__logo {
        background-color: #fff;
        border-right: 1px solid $page-color;
        height: 100%;
        width: 2.5em;
      }

      &__name {
        font-size: 0.7em;
        font-weight: 600;
        margin: auto 0;
        margin-left: 0.3em;
        max-width: 17em;
        padding-right: 0.5em;
        white-space: nowrap;
        overflow: hidden;

        &__highlighted {
          background-color: greenyellow;
          background-color: rgb(232, 235, 239);
          background-color: rgb(219, 225, 232);
          border-radius: 0.2em 0 0 0.2em;
          padding: 0.25em 0;
          padding-left: 0.15em;
          padding-right: 0;
        }

        &__unhighlighted-product {
          padding-left: 0.15em;
        }
      }

      &__brand {
        color: rgba($page-color-text, 0.6);
        font-weight: 600;
        // grid-column: 7 / 10;
        font-size: 0.6em;
        margin: auto 0;
        white-space: nowrap;
        padding-left: 0.5em;
        margin-right: 0.5em;
        margin-left: auto;
        width: 30%;
        // max-width: 2em;
        overflow: hidden;
      }
    }
  }
}

// Add Custom Product
.custom-product {
  // position: fixed;
  margin-left: 1em;
  &__initializer {
    margin-bottom: 0.6em;
    cursor: pointer;
    font-size: 0.7em;
    background-color: #fff;
    border: none;
    color: $page-color-text;
  }

  $custom-template-columns: 3fr 1fr;
  $custom-width: 15em;
  &__form {
    margin-bottom: 1em;

    &__name-and-serving {
      display: grid;
      grid-template-columns: $custom-template-columns;
      width: $custom-width;

      & > * {
        width: 100%;
        // height: 2.5em;
        font-size: 1.3em;
      }

      &__name {
        padding-left: 0.15em;
      }

      &__serving {
        text-align: right;
        appearance: textfield;
      }
    }

    &__list {
      // border: 1px solid black;
      width: $custom-width;

      &__input {
        // display: flex;
        border-right: 1px solid $page-color;
        border-left: 1px solid $page-color;
        border-top: 1px solid $page-color;
        display: grid;
        grid-template-columns: $custom-template-columns;

        & > * {
          appearance: textfield;
          padding: 0 0.3em;
        }

        &:last-child {
          border-bottom: 1px solid $page-color;
        }

        // &:first-child {
        //   border-top: 1px solid $page-color;
        // }

        & > label {
          border-right: 1px solid $page-color;
          // background-color: $page-color-opacity2;
        }

        & > input {
          width: 100%;
          border: 0;
          margin-left: auto;
          text-align: right;
        }
      }
    }

    &__list-item {
      color: $page-color-text;
      border-top: 1px solid $page-color;
      border-right: 1px solid $page-color;
      border-left: 1px solid $page-color;
      display: grid;
      grid-template-columns: 3fr 1fr;

      & > * {
        padding: 0 0.3em;
      }

      &:last-child {
        border-bottom: 1px solid $page-color;
      }

      &:nth-child(even) {
      }

      &__key {
        border-right: 1px solid $page-color;
      }

      &__value {
        margin-left: auto;
      }
    }

    & > * {
      color: $page-color-text;
    }
  }
}

.selected-product {
  margin: 0 1em;
  margin-top: 2em;

  &__nutrition-list {
    @include nutrition-list();
    margin-top: 1em;
  }

  &__divider--upper {
    margin-bottom: 1.6em;
  }

  &__title {
    margin-left: 0.3em;
    display: grid;
    grid-template-columns: 3.5em 1fr;
    grid-template-rows: 2fr 1fr;

    &__logo {
      width: 3.5em;
      height: 3em;
      // margin-right: 0.5em;
      grid-row: 1/3;
    }

    &__name {
      margin-left: 0.8em;
      color: $page-color-text;
      font-size: 1.2em;
    }

    &__brand {
      color: rgba($page-color-text, 0.6);
      margin-left: 1.65em;
      margin-top: -0.5em;
      font-size: 0.8em;
    }
  }
}

.add-to-mealplan {
  &__add-to-list {
    display: flex;
    color: $page-color-text;
    margin: 0 1em;
    margin-top: 1em;
    height: 100%;
    gap: 0.5em;

    & > hr {
      border: 1px solid rgb(226, 242, 252);
      border: 1px solid $data-ink;
      border: 1px solid $meal-background;
    }

    &__options {
      width: 10em;
      // display: flex;
      // flex-direction: column-reverse;

      &__option {
        border: none;
        background-color: #fff;
        color: $page-color-text;
        color: rgb(131, 162, 213);
        display: grid;
        grid-template-columns: 1fr;
        height: 2em;
        // margin-bottom: 0.3em;
        // border: 1px solid black;

        & > input,
        & > label {
          margin: auto 0;
          grid-row: 1;
          grid-column: 1;
          width: 100%;
          border-radius: 0.3em;
        }

        & > input {
          opacity: 0;
          cursor: pointer;

          &:focus-visible {
            opacity: 100;
            outline: 4px solid rgb(75, 75, 255);
          }
        }

        & > label {
          // padding-left: 0 0.4em;
          padding: 0.25em 0.4em;
        }
      }

      &__increment {
        cursor: pointer;
        font-size: 1.3em;
        border: 0;
        color: rgb(14, 172, 14);
        // border-radius: 0.3em;
        background-color: #fff;
        // background-color: rgb(243, 243, 243);
        width: 50%;
        margin-top: 0.2em;
        // height: 80%;
        // margin: auto 0;
        // border: 1px solid black;

        &:nth-of-type(1) {
          padding-left: 0.3em;
          color: rgb(188, 85, 85);
        }

        &:nth-of-type(2) {
          padding-right: 0.3em;
        }
      }
    }

    &__serving-and-add {
      // margin-top: auto;
      width: 70%;
      & > * {
      }
    }

    &__serving {
      border-radius: 0.3em;
      appearance: textfield;
      font-family: 'Montserrat', sans-serif;
      font-weight: 600;
      width: 100%;
      padding-top: 0.1em;
      text-align: center;
      border: 1px solid $page-color;
      outline: none;
      font-size: 1.1em;
      color: $page-color-text;
      // height: 100%;
      height: 2em;
      border-right: 2px solid $page-color;
      border-bottom: 2px solid $page-color;

      &:focus::placeholder {
        color: transparent;
      }
    }

    &__add {
      border-radius: 0.3em;
      margin-top: 0.3em;
      height: 2em;
      font-size: 1.1em;
      width: 100%;
      color: $page-color-text;
      background-color: #fff;
      border: 1px solid $page-color;
      border-right: 2px solid $page-color;
      border-bottom: 2px solid $page-color;
      cursor: pointer;
      white-space: nowrap;
      // grid-column: 1/4;
      // background-color: rgb(241, 246, 251);
    }

    // Not grid
    &__status {
      margin-left: 1em;
      margin-top: 1em;
      min-height: 5em;
      &__error,
      &__success {
        font-size: 0.7em;
        width: 100%;
      }

      &__error {
        color: red;
      }

      &__success {
        color: rgb(52, 182, 52);
      }
    }
  }
}

.mealPlan {
  &__title {
    font-size: 1.5em;
    color: $page-color-text;
    text-align: center;
    padding: 0.4em 0;
  }

  &__divider--upper {
    // margin-top: 1.5em;
    width: 100%;
  }

  &__header {
    // border: 1px solid black;
    display: flex;
    height: 3.5em;

    &__title {
      margin: auto 0;
      margin-left: 1em;
      color: $page-color-text;
      font-size: 1.2em;

      &__toggle {
        // border: 1px solid black;
        border: none;
        background-color: #fff;
        display: flex;
        margin-left: auto;
        width: 5em;
        cursor: pointer;

        &__inner {
          margin: auto auto;
          border: 0.2em solid $page-color-text;
          border-top: transparent;
          border-left: transparent;
          width: 1em;
          height: 1em;
          transform: rotate(-45deg);

          &__closed {
            transform: rotate(45deg);
          }
        }
      }
    }

    &__divider--lower {
      // padding-top: 0.3em;
      width: 100%;
    }
  }

  &__meals {
    margin-bottom: 3em;

    &__meal {
      background-color: $meal-background;
      margin: 1em 1em;
      padding: 1em 1em;
      border-radius: 0.3em;

      &__title {
        // border: 1px solid black;
        // display: grid;
        // grid-template-columns: 7fr 1fr;
        display: flex;
        font-size: 0.9em;
        color: $meal-color;

        &__toggle {
          border: none;
          background-color: $meal-background;
          padding-top: 0.25em;
          margin-left: auto;
          cursor: pointer;
          display: flex;
          // width: 100%;
          width: 2em;
          // border: 1px solid black;

          &__inner {
            margin-left: auto;
            // margin-right: 0.8em;
            border: 0.2em solid $meal-color;
            border-top: transparent;
            border-left: transparent;
            width: 1em;
            height: 1em;
            transform: rotate(-45deg);

            &__closed {
              margin-top: -0.25em;
              transform: rotate(45deg);
            }
          }
        }
      }

      &__products-and-nutrition {
        margin-bottom: 2em;
        &__product {
          color: $meal-color;
          display: flex;
          margin-bottom: 0.6em;

          &:first-of-type {
            margin-top: 1em;
          }

          &__title {
            // border: 1px solid black;
            white-space: nowrap;
            overflow: hidden;
            margin-right: 0.3em;

            &__brand {
              font-size: 0.7em;
            }
          }

          &__serving {
            // border: 1px solid black;
            margin-left: auto;
          }

          &__remove {
            margin-top: 0.17em;
            margin-left: 0.3em;
            color: $page-color;
            color: rgb(170, 80, 80);
            background-color: $meal-background;
            border: none;
            height: 0.8em;
            font-size: 1.2em;
            line-height: 0.7em;
            cursor: pointer;
            // border: 1px solid black;
          }
        }

        &__nutrition-list {
          @include nutrition-list();
        }
      }
    }
  }

  &__total {
    margin: 2em;

    &__title {
      color: $meal-color;
      text-align: center;
      margin-bottom: 0.7em;
    }

    &__nutrition-list {
      @include nutrition-list();
    }
  }
}

.green {
  color: rgb(52, 188, 45);
}

.red {
  color: red;
}

.wide {
  width: 100%;
}

.selected {
  background-color: rgb(226, 242, 252);
  background-color: rgb(144, 213, 255);
  // background-color: $data-ink;
  // font-weight: 600;
  color: rgb(245, 249, 255);
  border: 1px solid rgb(151, 181, 230);
}

.disabled {
  & > * {
    background-color: rgb(247, 247, 247);
    color: rgb(209, 209, 209);
  }

  & > input {
    pointer-events: none;
  }
}
