* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.product {
  margin-left: 2em;
  border: 1px solid black;
  width: 13em;

  &__title {
    border: 1px solid black;
    display: flex;
  }

  &__nutrition__list {
    // border: 1px solid black;

    &__list-item {
      border: 1px solid green;
      display: flex;

      &__value {
        margin-left: auto;
      }
    }
  }
}
